<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Produits</title>
</head>
<body>
    <h1>Liste des Produits</h1>
    <div id="products"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function() {
            // Faites une requête à l'API pour obtenir la liste des produits
            $.getJSON('http://127.0.0.1:8001/api/products/', function(data) {
                // Pour chaque produit dans la réponse JSON
                data.forEach(function(product) {
                    // Construisez le HTML pour afficher les détails de ce produit
                    var productHtml = "<div><p>Nom : " + product.name + "</p><p>Prix : " + product.price + "€</p><img src='" + product.thumbnail + "' alt='" + product.name + "'><button class='details-btn' data-slug='" + product.slug + "'>Voir détails</button></div>";
                    // Ajoutez ce HTML à la div avec l'ID "products"
                    $('#products').append(productHtml);
                });
                
                // Ajoutez un gestionnaire de clic sur les boutons "Voir détails"
                $('.details-btn').click(function() {
                    var slug = $(this).data('slug');
                    window.location.href = 'http://127.0.0.1:8001/product-details-page/' + slug + '/';
                });
            });
        });
        
    </script>
</body>
</html>
