<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détails du Produit</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Détails du Produit</h1>
    {% if product %}
        <!-- Affichez les détails du produit ici -->
        <p>Nom : {{ product.name }}</p>
        <p>Prix : {{ product.price }}€</p>
        <p>Description : {{ product.description }}</p>
        <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}">
        <!-- Bouton "Ajouter au panier" avec identifiant unique -->
        <form action="{% url 'check_authentication_and_add_to_cart' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <button type="submit">Ajouter au panier</button>
        </form>
    {% endif %}
        <script>
            $(document).ready(function() {
                $("#addToCartBtn").on("click", function() {
                    // Récupérer l'ID du produit à ajouter au panier
                    var productId = $(this).data("product-id");
                    
                    // Créer un objet de données à envoyer avec la requête POST
                    var requestData = {
                        "product_id": productId
                    };
            
                    // Envoyer la requête POST à l'URL de la vue add_to_cart
                    $.ajax({
                        url: "/add/",  // L'URL de la vue add_to_cart
                        type: "POST",   // Méthode POST
                        data: JSON.stringify(requestData),  // Données à envoyer (converties en JSON)
                        contentType: "application/json",     // Type de contenu de la requête
                        success: function(response) {
                            // Gérer la réponse de la vue (si nécessaire)
                            console.log("Produit ajouté au panier avec succès !");
                        },
                        error: function(xhr, status, error) {
                            // Gérer les erreurs de la requête (si nécessaire)
                            console.error("Erreur lors de l'ajout du produit au panier :", error);
                        }
                    });
                });
            });

        </script>
    
</body>
</html>
